.border {
    height: 25%;
    width: 25%;
    border: 2px solid black;

    
   }

.container {
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.verticalDiv {
    display: flex;
    width: auto;



}
.horizontalDiv {
    

}